In [1]:
import pandas as pd

In [2]:
housing_test = pd.read_csv('data.csv')

In [3]:
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
train_set, test_set = train_test_split(housing_test, test_size=0.2, random_state=42)

In [5]:
from sklearn.model_selection import StratifiedShuffleSplit

In [6]:
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index,test_index in split.split(housing_test, housing_test['CHAS']):
    strat_train_set = housing_test.loc[train_index]
    strat_test_set = housing_test.loc[test_index]

In [7]:
# print(f"Rows in train set {len(train_set)}\nRows in test set {len(test_set)}")

In [8]:
strat_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 342 to 218
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     102 non-null    float64
 1   ZN       102 non-null    float64
 2   INDUS    102 non-null    float64
 3   CHAS     102 non-null    int64
 4   NOX      102 non-null    float64
 5   RM       102 non-null    float64
 6   AGE      102 non-null    float64
 7   DIS      102 non-null    float64
 8   RAD      102 non-null    int64
 9   TAX      102 non-null    int64
 10  PTRATIO  102 non-null    float64
 11  B        102 non-null    float64
 12  LSTAT    102 non-null    float64
 13  MEDV     102 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 12.0 KB

In [9]:
housing_test = strat_test_set.copy()
housing_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
342,0.02498,0.0,1.89,0,0.518,6.540,59.7,6.2669,1,422,15.9,389.96,8.65,16.5
379,17.86670,0.0,18.10,0,0.671,6.223,100.0,1.3861,24,666,20.2,393.74,21.78,10.2
223,0.61470,0.0,6.20,0,0.507,6.618,80.8,3.2721,8,307,17.4,396.90,7.60,30.1
219,0.11425,0.0,13.89,1,0.550,6.373,92.4,3.3633,5,276,16.4,393.74,10.50,23.0
48,0.25387,0.0,6.91,0,0.448,5.399,95.3,5.8700,3,233,17.9,396.90,30.81,14.4

In [10]:
housing_test = strat_test_set.drop('MEDV', axis =1)
housing_test_labels = strat_test_set['MEDV'].copy()

In [11]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy ='median')
imputer.fit(housing_test)
X = imputer.transform(housing_test)
housing_test_tr = pd.DataFrame( X, columns = housing_test.columns)
housing_test_tr.describe()
housing_test_tr.shape

(102, 13)

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy = 'median')),
    ('std_sacaler', StandardScaler())
])
housing_num = my_pipeline.fit_transform(housing_test)
housing_num.shape

(102, 13)

In [22]:
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(housing_num, housing_test_labels)

RandomForestRegressor()

# Now We are Testing the model

In [23]:
some_test_data = housing_test.iloc[:5]
some_test_labels = housing_test_labels.iloc[:5]

In [24]:
X_prepared_test_data = my_pipeline.transform(some_test_data)

In [25]:
model.predict(X_prepared_test_data)

array([19.168, 10.863, 27.919, 23.295, 15.313])

In [17]:
list(some_test_labels)

[16.5, 10.2, 30.1, 23.0, 14.4]

In [18]:
final_prediction = model.predict(housing_num)

In [19]:
final_mse = mean_squared_error(housing_test_labels, final_prediction)

In [20]:
final_rsme = np.sqrt(final_mse)

In [21]:
final_rsme

1.6509508252673648